body {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	padding: 16px;
}

.list-item {
	background-color: blanchedalmond;
	margin-bottom: 16px;
	padding: 8px;
	border-radius: 6px;
}

.rank, 
.name,
.login,
.probability {
	display: inline-block;
	margin-right: 16px;
}

.rank {
	width: 64px;
	text-align: end;
}

.name,
.login {
	width: 20%;
}

.probability {
	width: 33%;
}

.slider-output {
	display: none;
}

.button {
	display: inline-block;
	/*outline: none;*/
	width: 64px;
	padding: 8px;
	border: none;
	border-radius: 6px;
	background-color: #4CAF50b2;
	/*opacity: 0.7;*/
	transition: background-color .2s box-shadow .2s;
	cursor: pointer;
}

.button::before {
	border-radius: 6px;
}

.button:hover,
.button:focus {
	/*opacity: 1;*/
	background-color: #4CAF50ff;
}

#results-btn {
	display: block;
	margin: 32px auto 32px auto;
}



/*:focus {
	box-shadow: 0 0 0px 2px black;
}*/

.focusable {
	position: relative;
	outline: none;
}

.focusable::before {
	/* Position the pseudo-element. */
	content: ' ';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	
	box-shadow: 0 0 0 2px rgba(0, 0, 0, 1);
  
	/* Hidden by default. */
	opacity: 0;
	transition: opacity .2s;
  }
  
  .focusable:focus::before {
	/* Show the pseudo-element on hover. */
	opacity: 1;
  }